{% extends "base.html" %}
{% load static %}
{% block title %}
  index
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock css_files %}

{% block content %}
  <ul>
      {% for book in books %}
        <a href="{{book.get_absolute_url}}"><li>{{book.title}}</li></a>
      {% endfor %}
  </ul>

  <hr>
  <p>Total Number of books: {{number_of_books}}</p>
  <p>Rating: {{avg_rating.rating__avg}}</p>
{% endblock content %}